/* ==========================================================================
   Variables
   ========================================================================== */

/* Fluid Typography
   ========================================================================== */

:root {
  --step-1: clamp(2.5rem, 1.804rem + 3.478vw, 4.5rem);
  --step-2: clamp(2rem, 1.478rem + 2.609vw, 3.5rem);
  --step-3: clamp(1.75rem, 1.315rem + 2.174vw, 3rem);
  --step-4: clamp(1.5rem, 1.152rem + 1.739vw, 2.5rem);
  --step-5: clamp(1.25rem, 0.989rem + 1.304vw, 2rem);
  --step-6: clamp(1.125rem, 0.995rem + 0.652vw, 1.5rem);
  --step-7: clamp(1rem, 0.826rem + 0.87vw, 1.5rem);
}

/* Colors
   ========================================================================== */

:root {
  --clr-night: #15161b;
  --clr-raisin-black: #2c2e3b;
  --clr-penn-blue: #011f5b;
  --clr-medium-blue: #0b21c0;
  --clr-french-gray: #b4b5be;
  --clr-ghost-white: #f0f1fc;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

/* trocchi-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Trocchi";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/trocchi-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("asssets/fonts/trocchi-v17-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* oxygen-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/oxygen-v15-latin-300.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/oxygen-v15-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}
/* oxygen-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/oxygen-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("assets/fonts/oxygen-v15-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}
/* oxygen-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/oxygen-v15-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/oxygen-v15-latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* ==========================================================================
   Basic Styling
   ========================================================================== */

:root {
  font-size: 1.25rem;
}

body {
  background-color: var(--clr-ghost-white);
  color: var(--clr-night);

  font-family: "Oxygen", sans-serif;
  font-size: var(--step-7);
  font-weight: 400;
  line-height: 1.5;
}

header,
main {
  padding: 2rem;
}

section {
  margin-top: 2rem;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;

  color: var(--clr-penn-blue);
  font-family: "Trocchi", serif;
  font-weight: 700;
  line-height: 1.222;
}

h1 {
  font-size: var(--step-1);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-4);
}

h5 {
  font-size: var(--step-5);
}

h6 {
  font-size: var(--step-6);
}

a {
  color: var(--clr-medium-blue);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}

p + p {
  margin-top: 1rem;
}

/* ==========================================================================
   Elements
   ========================================================================== */

.text-gradient {
  background-image: linear-gradient(in oklch 90deg, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

[data-current-theme="serious"] {
  .fun {
    display: none;
  }
}

.btn {
  padding: 0.25em 0.75em;
  border: 2px solid var(--clr-french-gray);
  border-radius: 9999.99px;

  background-color: var(--clr-french-gray);

  &[aria-pressed="true"] {
    border-color: var(--clr-medium-blue);
    background-color: var(--clr-medium-blue);
    color: var(--clr-ghost-white);
  }
}

.theme-switcher__label {
  font-family: "Trocchi";
  font-size: var(--step-6);
  font-weight: 700;
}

.theme-switcher {
  padding: 0;
  border: none;
  margin: 0;
}

.theme-switcher__buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.contact__list {
  padding-left: 0;
  margin-top: 1rem;
  list-style: none;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & svg {
    flex-shrink: 0;
    width: 1.5em;
    height: auto;
    color: #0000ff;
    stroke: currentColor;
  }

  & a {
    word-break: break-all;
  }
}

.contact__item + .contact__item {
  margin-top: 0.8rem;
}

.background-canvas {
  display: none; /* Hidden by default */
  position: absolute; /* Fixed to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none; /* Ignore pointer events */
}

/* Always-visible text container for announcements */
.text-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 1rem;
  z-index: 1001; /* Ensure it's above the canvas */
  text-align: center;
  display: none; /* Initially hidden */
}
