*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0 auto;
}

dt {
  font-weight: bold;
}

dd + dt {
  margin-top: 2rem;
}

div {
  aspect-ratio: 1 / 1; /* Create a square container */
  width: 20rem; /* Set the desired width for the square container */
  overflow: hidden; /* Hide any image overflow */
}

div img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Allow the image to adjust its height while maintaining aspect ratio */
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto; /* Center the image horizontally */
}
